<h1>LED SWITCHES</h1>
<div id="led1_switch">
  <button id="led1_btn"  type="button" name="led1_btn" value="ON"><img src="<%= str_led[0] %>" alt="LED1" ></button>
</div>
<div id="led2_switch">
  <button id="led2_btn"  type="button" name="led2_btn" value="OFF"><img src="<%= str_led[1] %>" alt="LED2" ></button>
</div>
<div id="led3_switch">
  <button id="led3_btn"  type="button" name="led3_btn" value="OFF"><img src="<%= str_led[2] %>" alt="LED3" ></button>
</div>
